Host *
ForwardAgent yes
ForwardX11 no
ForwardX11Trusted no
StrictHostKeyChecking no
GSSAPIAuthentication no
ControlMaster auto
ControlPersist 10h
PasswordAuthentication no
ServerAliveInterval 60
TCPKeepAlive yes
User mmoa
Ciphers aes128-ctr,aes192-ctr,aes256-ctr,arcfour256,arcfour128,aes128-cbc,3des-cbc

Host merope-install.cc.tut.fi
    User mmoa
    IdentityFile    ~/.ssh/midas_rsa

Host merope-nfs?
    User root
    IdentityFile ~/.ssh/kari_rsa
    ProxyCommand ssh -q merope-install.cc.tut.fi -W %h:%p

